
html {
    font-size: 100%;
/* This is to make sure that 1rem translates to 16px, the standard value that I hav used to calculate the font sizes here. 
You can set this to 65% which would make 10px translate to 1rem (easier to calculate).   */
}

body {
    background-color: #E5E5E5;
    font-family: "Poppins";
    font-style: normal;
    font-size: 0.8rem;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-size: 0.75rem;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: #109CF1;
    font-size: 1.2rem;
    font-weight: 600;
    padding-left: 1.3rem;
    align-self: center;
}

.wrapper {
    
    background-color: #F5F6F8;
    align-self: center;
    display: block;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    height: 6vh;
    background: white;
    align-content: flex-start;
    width: 100%;
}

.divider-line {
    height: 0.08rem;
    background-color: #EBEFF2;
    margin: 0;
}

.content {
    display: flex;
    height: 94vh;    
}

.header-left {
    width: 20%;
    height: inherit;   
    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
}

.header-right {
    width: 80%;
    display: flex;
    font-size: 0.75rem;
    color: #90A0B7;
    position: relative;
    height: inherit;
}

.header-right>* {
    align-self: center;
    padding-left: 1.5rem;
}

.bell {
    right:1.5rem;
    position: absolute;
}

.main-right {
    width: 80%;
    display: flex;
    height: 96%;   
}

.main-left {
    background-color: white;
    height: 94vh;
    width: 20%;
    position: relative; 
}

.header-right>img{
    margin-right: 3%;
}
.dashboard-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
    margin: 1.2rem 0.6rem 1.2rem 1.2rem;
    position: relative; 
    border-radius: 0.25rem;
}

.dashboard-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin:1.2rem 1.2rem 1.2rem 0.6rem;
}

.deals_graph {
    height: 50%;
    margin-bottom: 0.6rem;
    background-color: white;
}

.tasks_graph {
    height: 50%;
    background-color: white;
    margin-top: 0.6rem;
}

.task_calendar {
    height: 33%;
}
.task_calendar>div {
    height: 50%;
}

.task_item {
    height: 17%;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.08);
    border-radius: 0.4rem;
    /* margin-top: 3%; */
    margin: 3% 3% 0;
    white-space: nowrap;
    overflow:hidden;
    display: flex;
    flex-direction: column;
}

.highlighted_item {
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.14);
}

.last_item {
    margin: 3% 3% 0;
}

.show_more {
    color: #109CF1;
    font-weight: 600;
    font-size: 0.8125rem;
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    border-radius: 50%;
    margin-right: 5%;
}

.user_profile {
    display: flex;
    text-align: left;
    align-items: center;
    margin-bottom: 15%;
    padding-left: 1.3rem;
    padding-top:1.4rem;
}

.profile_details {
    white-space: nowrap;
    overflow:hidden;
}

.profile_name {
    font-size: 0.875rem;
    color: #192A3E;
}

.profile_email {
    font-size: 0.6875rem;
    color: #90a0b7;
}

#profile_email {
    white-space: nowrap;
    overflow:hidden;
}

.list-items {
    display: flex;
    margin: 5% 5% 10% 5%;
    font-size: 0.8125rem;
    color: #334D6E;
}

.list-items:hover * {
    color: #109CF1;
    stroke:#109CF1;
}

.list-items>svg {
    margin-right: 4%;
    align-self: center;
}

.main-left button {
    width: inherit;
    border: none;
    background-color: inherit;
    color: #334D6E;
    font-family: "poppins";
    font-size: 0.8125rem;
    font-weight: 500;
    outline: none;
}

.main-left .divider-line {
    margin-bottom: 12%;
}

.toggle_sidebar {
    position: absolute;
    right: 0;
    left: 0;
    font-size: 0.6875rem;
    color: #90A0B7;
    margin: 0 0 0 5%;
    bottom: 0.8rem;
}

.toggle_sidebar>button {
    font-size: 0.6875rem;
    color: #90A0B7;
}

.tasks_completed {
    padding-right: 5%;
    padding-left: 5%;
}

.tasks-row {
    display: flex;
    height: 33%;
    align-items: center;
    white-space: nowrap;
    overflow:hidden;
}

.tasks-left {
    width: 75%;
}

.tasks-right {
    width: 25%;
    text-align: end;
    align-content: stretch;
    position: relative; 
    padding-right: 2%;  
}

.tasks-row .tasks-completed {
    width: 73%;
}

.tasks-row img {
    margin-left: 1%;
    position: absolute;
    top: 45%;
}

.tasks-completed {    
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    color: #334D6E;
    width: 50%;
}

.filter-view {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    color: #060607;
    width: 50%;
}

.filter-view button {
    border: none;
    background-color: inherit;
    color: #109CF1;
    font-family: "poppins";
    font-size: inherit;
    font-weight: inherit;
    outline: none;
}

.tasks-row2 {
    height: 2%;
} 

.tasks-left.divider {
    height: 0.25rem;
    background-color: #2ED47A;
    margin: 0;
}

.tasks-right.divider {
    height: 0.25rem;
    background-color: #EBEFF2;
    margin: 0;
}

.tasks-left.date {
    font-size: 0.9375rem;
    color: #192A3E;
    font-weight: 500;
    margin: 0;
}

.week_view {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
      
}

.week_view>*>* {
    display: flex;
    justify-content: space-between;
}

.week_view>*>*>* {   
    width: 2rem;
    height: 2rem;
    font-size: 0.8125rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
}

.week_view>div>.number_month>:first-child {   
border-radius: 50%;
background-color: #109CF1;
color: white;
}

.week_view>div>*>:nth-child(2) {   
    color: #109CF1;
}

.days {
    color: #334D6E;
}
.number_month {
    color: #4C5862;
}

.task_item > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
}

.task-item-left {
    width: 75%;
    position: relative;
}

.task-line-1>.task-item-left {
    font-size: 0.9375rem;
    font-weight: 500;
    color: #323C47;
}

.task-line-1>.task-item-right {
    font-size: 0.75rem;
    font-weight: 500;
    color: #90A0B7;
    text-align: end;
}

.task-line-2>.task-item-left {
    font-size: 0.8125rem;
    font-weight: 400;
    color: #4C5862;
    opacity: 50%;
}

/*Needs a better solution*/
.task-line-2>.task-item-left>button {
    font-size: 0.8125rem;
    font-weight: 400;
    color: black;
    border: none;
    background-color: inherit;
    outline: none;
    opacity: 100%;
}

.task-line-2>.task-item-right {
    font-size: 0.8125rem;
    font-weight: 400;
    color: #4C5862;
}

.task-item-right {
    width: 14%;
    align-items: end;
    align-content: stretch;
    text-align: center;
    position: relative;
}

#task1 .task-line-3 .task-item-right {   
    border-radius: 0.25rem;
    background-color: #2ED47A;
    color: white;
}

#task1 .task-line-3 .task-item-left {   
    color: #707683;
    font-size: 0.8125rem;
    font-weight: 400;
    width: 67%;
}

#task2 .task-line-3 .task-item-right {   
    border-radius: 0.25rem;
    background-color: #F7685B;
    color: white;
}

#task2 .task-line-3 .task-item-left {   
    color: #707683;
    font-size: 0.8125rem;
    font-weight: 400;
    width: 67%;
}

#task3 .task-line-3 .task-item-right {   
    border-radius: 0.25rem;
    background-color: #2ED47A;
    color: white;
}

#task3 .task-line-3 .task-item-left {   
    color: #707683;
    font-size: 0.8125rem;
    font-weight: 400;
    width: 67%;
}

.task-line-3 img {   
    border-radius: 50%;
}

.task-line-1 {
    height: 30%;
}

.task-line-2 {
    height: 30%;
}

.task-line-3 {
    height: 40%;
}

/* Right side of dashboard*/
.deals_graph {
    border-radius: 0.25rem;
}

.deals_headline {
    font-size: 0.9375rem;
    font-weight: 500;
    color: #192A3E;
    width: 50%
}

.deals_row1 {
    display: flex;
    padding: 3% 5%;
    position: relative;
    align-items: center;
}

.deals_filter {
    width: 50%;
    font-size: 0.75rem;
    font-weight: 400;
    color: #6A707E;
    text-align: right;
    padding-right: 3%;
    white-space: nowrap;
    overflow:hidden;
}

.deals_filter button {
    border: none;
    background-color: inherit;
    color: #109CF1;
    font-family: "poppins";
    font-size: inherit;
    font-weight: inherit;
    outline: none;
}

.deals_filter img {
    margin-left: 1%;
    position: relative;
    overflow: hidden;
    transform: translateY(-80%); 
}

.deals_row2 {
    padding-left: 0;
    padding-right: 0;
}

.deals_row3 {
    display: flex;
    padding: 3% 5%;
    position: relative;
    align-items: center;
}
.deals_row3>:last-child {
    font-size: 0.625rem;
    color: #192A3E;
    padding-left: 3%;
    font-weight: 400;
}

.deals_row4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.tasks_graph {
    border-radius: 0.25rem;
}

.tasks_headline {
    font-size: 0.9375rem;
    font-weight: 500;
    color: #192A3E;
    width: 50%
}

.tasks_row1 {
    display: flex;
    padding: 3% 5%;
    position: relative;
    align-items: center;
}

.tasks_filter {
    width: 50%;
    font-size: 0.75rem;
    font-weight: 400;
    color: #6A707E;
    text-align: right;
    padding-right: 3%;
    white-space: nowrap;
    overflow:hidden;
}

.tasks_filter button {
    border: none;
    background-color: inherit;
    color: #109CF1;
    font-family: "poppins";
    font-size: inherit;
    font-weight: inherit;
    outline: none;
}

.tasks_filter img {
    margin-left: 1%;
    position: relative;
    overflow: hidden;
    transform: translateY(-80%);
    /* transform: translateY(-50%); */ 
}

.tasks_row2 {
    padding-left: 0;
    padding-right: 0;
}

.tasks_row3 {
    display: flex;
    padding: 3% 5% 6%;
    justify-content: space-evenly;
    height: 74%;
    align-items: center;
}

.graph_labels {
    width: 30%;
    align-content: stretch;
}

.label_groups {
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 0.625rem;
    color: #192A3E;
    font-weight: 400;
}

.label_groups>div {
    padding-left: 10%;   
}

.label_groups>div:nth-child(2) {
    overflow: hidden;
}

@media (max-width: 1600px) {
    .task-item-right {
        width: 17%;
    }
    html {
        font-size:90%
    } 
}

@media (max-width: 1350px) {
    .deals_row4 img {
        width: 20rem;
        height: 20rem;
    }
    .tasks_row3>div>img {
        width: 12rem;
        height: 12rem;
    }
    .task-item-right {
        width: 20%;
    }
    html {
        font-size:80%
    } 
    .show_more {
        height: 9%;
    }
}

@media (max-width: 1100px) {
    .deals_row4 img {
        width: 15rem;
        height: 15rem;
    }
    .tasks_row3>div>img {
        width: 10rem;
        height: 10rem;
    }
    .task-item-right {
        width: 24%;
    }
    .task_item>div {
        margin-left: 3%;
        margin-right: 3%;
    }
    html {
        font-size:85%
    } 
    .show_more {
        height: 10%;
    }
}

@media (max-width: 900px) {
    .deals_row4 img {
        width: 10rem;
        height: 10rem;
    }
    .tasks_row3>div>img {
        width: 7rem;
        height: 7rem;
    }
    html {
        font-size:80%
    } 
    .show_more {
        height: 11%;
    }
}

@media (max-width: 700px) {
    .header-left, .main-left {
        display: none;
    }
    .main-right {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }
    .dashboard-left, .dashboard-right {
        width: 100%;
        margin: 0;
    }
    .week_view, .show_more, .wrapper>.divider-line, .dashboard-right>.divider-line {
        display: none;
    }
    .dashboard-right>div {
        margin: 0 0 0.7rem;
    }

    .bell {
        right: -4rem;
        position: absolute;
    }

    .dashboard-right {
        height: 25%;
    }

    .dashboard-left {
        height: 75%;
    }

    .task_calendar {
        height: 23%;
    }

    .task_item {
        height: 30%;
    }

    .task_calendar>div {
        height: 100%;
    }

    .task_calendar>div>div {
        height: 30%;
    }

    .task_calendar>div>:nth-child(3) {
        height: 40%;
    }

    .dashboard-left>.divider-line {
        margin-top: 1%;
    }

    .tasks-row>.tasks-right {
        width: 35%;
    }

    .deals_graph {
        height: 170%;
    }
    .deals_row4 img {
        width: 20rem;
        height: 20rem;
    }
    .tasks_row3>div>img {
        width: 12rem;
        height: 12rem;
    }
    .tasks_graph {
        height: 300px;
    }
    .task_item>div {
        margin-left: 3%;
        margin-right: 3%;
    }
    body {
        background-color: white;
    }
    .header {
        height: 8vh;
    }
    html {
        font-size:100%
    } 
}

@media (max-width: 500px) {
    html {
        font-size:90%
    } 
}